<%- include('../../../../app/views/shared/header') %>
<%- include('../shared/nav') %>
<% 
// console.log(locals.countData)
const pluralize = periodic.viewHelper.pluralize;
const capitalize = periodic.viewHelper.capitalize;
const path = periodic.viewHelper.path;
 %>
  <main>
    <article>
        <section>
          <h3>Dashboard</h3>
        </section>
        <section>
          <div style="flex-flow:row wrap; align-content:flex-end; align-items:center; justify-content:center; display:flex; margin-bottom:2rem;">
          <%countData.forEach((countDatum,i)=>{%>
            <a href="<%- path.join(locals.adminExt.adminRoute,'data',pluralize(countDatum.modelName)) %>" style="display:block;width:20%; border:1px solid lightgrey; margin:1rem; padding:1rem; text-decoration:none;text-align:center;">
            <h5><%-pluralize(countDatum.modelName)%></h5>
            <p style="text-align:center; font-size:3rem; color:black;"><%-countDatum.collectionCount%></p>
            </a>
          <%})%>
          </div>
        </section>
        <section>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Entity Type</th>
                <th>Created</th>
                <th>Updated</th>
              </tr>
            </thead>
            <tbody>
              <% if(Array.isArray(dataDocs) && dataDocs.length){
                dataDocs.map(item =>{%>
                  <tr>
                    <td><a href="<%- path.join(locals.adminExt.adminRoute,'data',pluralize(item.modelName),item._id.toString()) %>"><%- item._id %></a></td>
                    <td><%- item.title || item.name %></td>
                    <td><%- item.entitytype %></td>
                    <td><%- item.createdat %></td>
                    <td><%- item.updatedat %></td>
                  </tr>
                <%});
              } else{%>
                <tr>
                  <td colspan="5">No Data Available</td>
                </tr>
              <%}%>
            </tbody>
          </table>
        </section>
    </article>
  </main>
<%- include('../../../../app/views/shared/footer') %>