<%- include('../../../../app/views/shared/nav_header') %>
<main>
<aside>
  <details>
    <summary>
      <a href="<%-locals.adminExt.adminRoute%>/data/configurations" title="Configurations">Configurations</a> 
    </summary>
  </details>
  <details>
    <summary>
      <a href="#container" title="Container">Container</a> 
    </summary>
    <aside style="padding-left:1rem;">
      <% locals.adminExt.containerMenu.forEach(contMenu=>{
        const menuLabel = Object.keys(contMenu.menu)[0];
        %>
        <details>
          <summary><%-menuLabel%></summary>
          <div>
            <ul>
            <% contMenu.menu[menuLabel].forEach(menuLink=>{%>
              <li><a href="<%- menuLink.link %>"><%- menuLink.title %></a></li>
            <% })%>
            </ul>
          </div>
        </details>
        <%
      }) %>
    </aside>
  </details>
  <details>
    <summary>
      <a href="<%-locals.adminExt.adminRoute%>/dashboard" title="Dashboard">Dashboard</a> 
    </summary>
  </details>
  <details>
    <summary>
      Data
    </summary>
    <%if(locals.periodic && locals.periodic.core_data_list){ 
    const pluralize = periodic.viewHelper.pluralize;
    const capitalize = periodic.viewHelper.capitalize;
    %>
      <aside style="padding-left:1rem;">
      <% Object.keys(periodic.core_data_list).forEach(db_name=>{
        %>
      <details>
        <summary>
          <%- capitalize(db_name) %> DB
        </summary>
        <div>
          <ul>
          <% periodic.core_data_list[db_name].forEach(model=>{ %>
            <li><a href="<%-locals.adminExt.adminRoute%>/data/<%- db_name %>_<%- pluralize(model) %>"><%- (capitalize(model)) %></a></li>
          <%}) %>
          </ul>
        </div>
      </details>
        <%
      }) %>
      </aside>
    <%}%>
  </details>
  <details>
    <summary>
      <a href="<%-locals.adminExt.adminRoute%>/data/extensions" title="Extensions">Extensions</a> 
    </summary>
    <aside style="padding-left:1rem;">
      <% locals.adminExt.extensionMenu.forEach(extMenu=>{
        const menuLabel = Object.keys(extMenu.menu)[0];
        %>
        <details>
          <summary><%-menuLabel%></summary>
          <div>
            <ul>
            <% extMenu.menu[menuLabel].forEach(menuLink=>{%>
              <li><a href="<%- menuLink.link %>"><%- menuLink.title %></a></li>
            <% })%>
            </ul>
          </div>
        </details>
        <%
      }) %>
    </aside>
  </details>
  <details>
    <summary>
      <a href="<%-locals.adminExt.adminRoute%>/files" title="Files">Files</a> 
    </summary>
  </details>
  <details>
    <summary>
      <a href="<%-locals.adminExt.adminRoute%>/account" title="Account">My Account</a> 
    </summary>
  </details>
  <details>
    <summary>
      <a href="<%-locals.adminExt.adminRoute%>/settings" title="Settings">Settings</a>
    </summary>
  </details>
</aside>