<%- include('../../../../app/views/shared/nav_header') %>
<main>
<aside>
  <details>
    <summary>
      <a href="<%-locals.adminExt.adminRoute%>/configurations" title="Configurations">Configurations</a> 
    </summary>
  </details>
  <details>
    <summary>
      <a href="<%-locals.adminExt.adminRoute%>/extensions" title="Configurations">Extensions</a> 
    </summary>
  </details>
  <details>
    <summary>
      <a href="<%-locals.adminExt.adminRoute%>/settings" title="Settings">Settings</a>
    </summary>
  </details>
  <details>
    <summary>
      <a href="<%-locals.adminExt.adminRoute%>/account" title="Account">My Account</a> 
    </summary>
  </details>
  <details>
    <summary>
      Data
    </summary>
    <%if(locals.periodic && locals.periodic.core_data_list){ 
    const pluralize = periodic.viewHelper.pluralize;
    const capitalize = periodic.viewHelper.capitalize;
    %>
      <aside>
      <% Object.keys(periodic.core_data_list).forEach(db_name=>{
        %>
      <details>
        <summary>
          <%- capitalize(db_name) %> DB
        </summary>
        <div>
          <ul>
          <% periodic.core_data_list[db_name].forEach(model=>{ %>
            <li><a href="<%-locals.adminExt.adminRoute%>/data/<%- db_name %>_<%- pluralize(model) %>"><%- (capitalize(model)) %></a></li>
          <%}) %>
          </ul>
        </div>
      </details>
        <%
      }) %>
      </aside>
    <%}%>
  </details>
</aside>