<%
const pluralize = periodic.viewHelper.pluralize;
const capitalize = periodic.viewHelper.capitalize;
%>
<article>
  <main>
    <form method="POST">
      <input type="hidden" name="_method" value="PUT" />
      <input type="hidden" name="_csrf" value="<%- token %>"/>
      <section>
        <h3><a href="<%- request.originalurl.replace(data._id,'') %>"><%- (capitalize(data.entitytype||entitytype)) %></a> &rsaquo; <small>(<%- data.title || data.name || data._id %>)</small></h3>
        <input type="submit" value="Edit">
      </section>
      <section>
      <div>
        <textarea name="genericdocjson"><%- JSON.stringify(data,null,2)%></textarea>
      </div>
      <%if(data && data.fileurl && data.assettype.search(/image/) >- 1){%>
        <figure style="max-width:50%">
          <% if(data.encrypted_client_side){%>
            <image style="width:100%" src="<%-locals.adminExt.adminRoute%>/data/standard_assets/decrypt_asset/<%- data._id %>/<%- data.attributes.original_filename %>"/>
          <%} else {%>
            <image style="width:100%" src="<%- data.fileurl %>"/>
          <%}%>
        </figure>
      <%}%>
      </section>
    </form>
  </main>
</article>