<%
const pluralize = periodic.viewHelper.pluralize;
const capitalize = periodic.viewHelper.capitalize;
console.log({entitytype})
%>
<article>
  <main>
    <form method="POST">
      <input type="hidden" name="_method" value="PUT" />
      <input type="hidden" name="_csrf" value="<%- token %>"/>
      <section>
        <h3><a href="<%- request.originalurl.replace(data._id,'') %>"><%- (capitalize(data.entitytype||entitytype)) %></a> &rsaquo; <small>(<%- data.title || data.name || data._id %>)</small></h3>
        <input type="submit" value="Edit">
      </section>
      <section>
      <div>
        <textarea name="genericdocjson"><%- JSON.stringify(data,null,2)%></textarea>
      </div>
      <%if(data && data.fileurl && data.assettype.search(/image/) >- 1){%>
        <figure>
          <image src="<%- data.fileurl %>"/>
        </figure>
      <%}%>
      </section>
    </form>
  </main>
</article>