<% include ../../shared/header %>
<% include ../../shared/nav %>
	<div class="_pea-container _pea-theme">
		<div class="_pea-row">
			<div class="_pea-col-span6">
				<% include ../../shared/html_inject_precontent %>
				<h1>What's new</h1>
				<div class="_pea-row">
					<% markdownpages.forEach( function(mdhtml){%>
						<div class="_pea-col-span12">
							<div class="_pea-document">
								<%- mdhtml %>
							</div>
						</div>
					<%} );%>
				</div>
				<div class="_pea-document">
					<div class="_pea-row">
						<h3>More Updates</h3>
							<p class="extra-padding">Check out the <a href="https://github.com/typesettin/periodicjs/tree/master/releases" target="_blank">release history on github.</a></p>
					</div>
				</div>
				<% include ../../shared/html_inject_postcontent %>
			</div>
			<div class="_pea-col-span5 _pea-pull-right">
				<h1>Quick Stats</h1>
				<div class="_pea-document">
					<div class="_pea-row">
						<!-- <h3>Your Instance</h3> -->
						<div class="_pea-row">
							<div class="_pea-col-span5"><strong>User Accounts:</strong></div><div class="_pea-col-span7"><%- contentcounts.usersCount%></div>
						</div>
						<hr>
						<div class="_pea-row">
							<div class="_pea-col-span5"><strong>Installed Extensions:</strong></div><div class="_pea-col-span7"><%- contentcounts.extensionsCount%></div>
						</div>
						<div class="_pea-row">
							<div class="_pea-col-span5"><strong>Installed Themes:</strong></div><div class="_pea-col-span7"><%- contentcounts.themesCount%></div>
						</div>
						<hr>
						<div class="_pea-row">
							<div class="_pea-col-span5"><strong>Content Assets:</strong></div><div class="_pea-col-span7"><%- contentcounts.assetsCount%></div>
						</div>
						<div class="_pea-row">
							<div class="_pea-col-span5"><strong>Content Categories:</strong></div><div class="_pea-col-span7"><%- contentcounts.categoriesCount%></div>
						</div>
						<div class="_pea-row">
							<div class="_pea-col-span5"><strong>Content Collections:</strong></div><div class="_pea-col-span7"><%- contentcounts.collectionsCount%></div>
						</div>
						<div class="_pea-row">
							<div class="_pea-col-span5"><strong>Content Items:</strong></div><div class="_pea-col-span7"><%- contentcounts.itemsCount%></div>
						</div>
						<div class="_pea-row">
							<div class="_pea-col-span5"><strong>Content Tags:</strong></div><div class="_pea-col-span7"><%- contentcounts.tagsCount%></div>
						</div>
						<div class="_pea-row">
							<div class="_pea-col-span5"><strong>Content Types:</strong></div><div class="_pea-col-span7"><%- contentcounts.contenttypesCount%></div>
						</div>
					</div>
				</div>
				<h1>New Extensions</h1>
				<div class="_pea-document">
					<div class="_pea-row">
						<!-- <h3>Your Instance</h3> -->
						<div class="_pea-row  _pea-container-forminput">
							<p class="_pea-text-small">Go to <span class="_pea-button _pea-text-small">admin->extensions</span> to search for and add these new extensions or install via the command line</p>
						</div>
					</div>
				</div>
				<h1>New Themes</h1>
				<div class="_pea-document">
					<div class="_pea-row">
						<!-- <h3>Your Instance</h3> -->
						<div class="_pea-row  _pea-container-forminput">
							<p class="_pea-text-small">Go to <span class="_pea-button _pea-text-small">admin->themes</span> to search for and add these new themes or install via the command line</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	window.addEventListener('load',function(){
		window.checkPeriodicVersion();
	},false);
	</script>
<% include ../../shared/footer %>
