<% include ../../shared/header %>
<% include ../../shared/nav %>
<%
	var numtabs = 2 + extconfigfiles.length;
	var tabspan = (numtabs>12)?  1 :  parseInt(12/numtabs);
%>
	<div class="_pea-container">
		<div class="_pea-row">
			<div class="_pea-col-span12">
				<h2><a href="/p-admin/extensions">Extension</a> &rsaquo; <%= extension.name %>
					<small class="_pea-form  _pea-pull-right">
						<%if(extension.enabled){%>
							<a href="/p-admin/extension/<%= extension.name %>/disable" class="_pea-button _pea-color-warn enable-ext-button">disable extension</a>
						<%}
						else{%>
							<a href="/p-admin/extension/<%= extension.name %>/enable" class="_pea-button enable-ext-button">enable extension</a>
						<%}%>
					</small>
				</h2>
			</div>
			<article class="_pea-col-span12">
				<div id="tabs" class="tabs">
		      <nav>
			      <ul class="_pea-col-span12">
			      	<% for(var x in extconfigfiles){
			      		%><li  class="_pea-col-span<%= tabspan %>"><%- extconfigfiles[x].name %></li><%
			      		} %>
			      	<li class="_pea-col-span<%= tabspan %>">package.json</li>
			      	<li class="_pea-col-span<%= tabspan %>">periodicjs.ext.json</li>
			      </ul>
		      </nav>
		      <div class="content">
		      	<% extconfigfiles.forEach(function(confFileData,index){
		      		%>
			        <section>
								<div class="_pea-document">
									<form id="editfileform-<%= index%>" data-form-index="<%=index%>" data-beforesubmitfunction="getCMValue" class="_pea-form _pea-ajax-form noFormSubmit" method="post" action="/p-admin/settings/updateextfiledata">
										<div class="_pea-row _pea-container-forminput">
											<input type="hidden" name="_csrf" value=<%= locals.token %> >
											<input type="hidden" name="extname" value="<%= extension.name %>" />
											<input type="hidden" name="filename" value="<%=confFileData.name %>" />
											<%if(confFileData.name.match(/.json/gi)){%>
												<textarea  id="edittextform-<%= index%>" data-textarea-index="<%index%>" name="filedata"  class="textarea-tall noFormSubmit codemirroreditor jsonEditor _pea-col-span12" ><%- JSON.stringify(confFileData.filedata,null,4) %></textarea>
											<%}
											else if(confFileData.name.match(/.js/gi)){%>
												<textarea id="edittextform-<%= index%>" data-textarea-index="<%index%>"  name="filedata"  class="textarea-tall noFormSubmit codemirroreditor jsEditor _pea-col-span12" ><%- confFileData.filedata %></textarea>
											<%}
											else{%>
												<textarea id="edittextform-<%= index%>" data-textarea-index="<%index%>"  name="filedata"  class="textarea-tall noFormSubmit codemirroreditor _pea-col-span12" ><%- confFileData.filedata %></textarea>
											<%}%>
										</div>
										<div class="_pea-row _pea-text-center">
											<button type="submit" name="save_button" class="_pea-button _pea-color-success" style="font-size:1.5em;"/>Save</button>
										</div>
									</form>
								</div>
							</section>
		      	<% }); %>
		        <section>
							<div class="_pea-document">
								<h2>Read only</h2>
								<pre class="code-output"><%- JSON.stringify(extdata.packagefile,null,4) %>
								</pre>
							</div>
		        </section>
		        <section>
							<div class="_pea-document">
								<h2>Read only</h2>
								<pre class="code-output"><%- JSON.stringify(extdata.periodicfile,null,4) %>
								</pre>
							</div>
		        </section>
	        </div>
        </div>
      </article>
		</div>
	</div>
	<div style="display:none">
		<div id="view-ext-info-modal">
			<h2 class="title" style="word-wrap: break-word;">Extension name</h2>
			<p class="desc">description</p>
			<p>
				<ul class="versions">
					<li>install <a class="install-ext-version">latest<a></li>
					<li>install 0.0.1</li>
				</ul>
			</p>
		</div>
	</div>
<% include ../../shared/footer %>
