<% include ../../shared/header %>
<% include ../../shared/nav %>
<%
	var numtabs = 2 + extconfigfiles.length;
	var tabspan = (numtabs>12)?  1 :  parseInt(12/numtabs);
%>
	<div class="_pea-container">
		<div class="_pea-row">
			<div class="_pea-col-span12">
				<h2><%= extension.name %>
					<small class="_pea-form">
						<%if(extension.enabled){%>
							<a href="/p-admin/extension/<%= extension.name %>/disable" class="_pea-button _pea-color-warn enable-ext-button">disable</a>
						<%}
						else{%>
							<a href="/p-admin/extension/<%= extension.name %>/enable" class="_pea-button enable-ext-button">enable</a>
						<%}%>
					</small>
				</h2>
			</div>
			<article class="_pea-col-span12">
				<div id="tabs" class="tabs">
		      <nav>
			      <ul class="_pea-col-span12">
			      	<% for(var x in extconfigfiles){
			      		%><li  class="_pea-col-span<%= tabspan %>"><%- extconfigfiles[x].name %></li><%
			      		} %>
			      	<li class="_pea-col-span<%= tabspan %>">package.json</li>
			      	<li class="_pea-col-span<%= tabspan %>">periodicjs.ext.json</li>
			      </ul>
		      </nav>
		      <div class="content">
		      	<% for(var x in extconfigfiles){
		      		%>
			        <section>
								<div class="_pea-document">
									<pre class="code-output">
										<%- extconfigfiles[x].data %>	
									</pre>
								</div>
							</section>
		      	<% } %>
		        <section>
							<div class="_pea-document">
								<h2>Read only</h2>
								<pre class="code-output">
			<%- JSON.stringify(extdata.packagefile,null,4) %>
								</pre>
							</div>
		        </section>
		        <section>
							<div class="_pea-document">
								<h2>Read only</h2>
								<pre class="code-output">
			<%- JSON.stringify(extdata.periodicfile,null,4) %>
								</pre>
							</div>
		        </section>
	        </div>
        </div>
      </article>
		</div>
	</div>
	<div>
		<%- JSON.stringify(extconfigfiles) %>
	</div>
	<div style="display:none">
		<div id="view-ext-info-modal">
			<h2 class="title" style="word-wrap: break-word;">Extension name</h2>
			<p class="desc">description</p>
			<p>
				<ul class="versions">
					<li>install <a class="install-ext-version">latest<a></li>
					<li>install 0.0.1</li>
				</ul>
			</p>
		</div>
	</div>
<% include ../../shared/footer %>
