<input type="hidden" name="_csrf" value=<%= locals.token %> >
<div class="_pea-container">
	<div class="_pea-row">
		<div class="_pea-col-span8">
			<% 
				var genericdoc = library; 
				var genericdocname = "library"; 
				var genericdocdeletefunction = "backToLibraryLanding"; 
				var genericdocnamelink = "libraries"; 
				var genericdocTitle = "Library"; 
				var mediaassettitle = "<h2>Content Media</h2>";
			%>
			
			<% include ../../shared/compose_content %>
			<h2>Library Items</h2>
			<div class="_pea-document" id="library-content_entities">
				<div id="library-item-documents" class="_pea-row _pea-container-forminput">
					<table class="_pea-table _pea-form">
					<tbody id="library-table-content_entities">
					<%if(library && library.content_entities){ %>
						<% library.content_entities.forEach(function(docresult,index){
							var content_entity,appendInfo;
							if(docresult.entity_item){
								content_entity = docresult.entity_item ;
								appendInfo = '"entity_item":"'+content_entity._id+'"';
							}
							else if(docresult.entity_collection){
								content_entity = docresult.entity_collection;
								appendInfo = '"entity_collection":"'+content_entity._id+'"';
							}

							if(content_entity){
								%>
								<tr id="tr-docid-<%= content_entity._id%>">
									<td class="_pea-col-span9">
										<input style="display:none;"  name="content_entities" type="checkbox" value='{"order":<%-(index*10)%>,"entitytype":"<%-docresult.entitytype%>",<%=appendInfo%>}' checked="checked"></input>
										<%= content_entity.title %> <small class="_pea-color-inverse"> <%- docresult.entitytype %> </small>
										<div><small>
											<%
											if(content_entity.tags && content_entity.tags.length >0){
												%>
												<strong>tags:</strong> <%
												for(var i in content_entity.tags){
													%> 
													<%=content_entity.tags[i].title %>, 
													<%
												}
											}
											if(content_entity.categories && content_entity.categories.length >0){
												%>
												<strong>categories:</strong> <%
												for(var i in content_entity.categories){
													%> 
													<%=content_entity.categories[i].title %>, 
													<%
												}
											}
											if(content_entity.contenttypes && content_entity.contenttypes.length >0){
												%>
												<strong>contenttypes:</strong> <%
												for(var i in content_entity.contenttypes){
													%> 
													<%=content_entity.contenttypes[i].title %>, 
													<%
												}
											}
											%>
										</small></div>
									</td>
									<td class="_pea-col-span3 _pea-text-right">
										<a data-docid="<%= content_entity._id%>" class="_pea-button remove-doc-to-library _pea-color-error">x</a>
									</td>
								</tr>
							<%		
							}
						})%>
					<%}%>
					</tbody>
					</table>
				</div>
				<div class="_pea-row">
					<input type="text" placeholder="search documents" class="_pea-col-span10" id="searchdocumentstext" name="search"/>
					<input type="button" id="searchdocumentsbutton" name="searchdocumentsbutton" value="search" class="_pea-col-span2"  />
				</div>
				<div id="library-item-searchresult" class="_pea-row _pea-container-forminput">
					
				</div>
			</div>
			<% include ../../shared/content_attributes %>
			<% include ../../shared/media_asset %>
		</div>
		<div class="_pea-col-span3 _pea-pull-right">
			<% include ../../shared/content_options %>
			<% include ../../shared/content_taxonmy %>
			<% if(genericdoc){%>
				<% include ../../shared/content_revisions %>
				<% include ../../shared/content_delete %>
			<%}%>
		</div>
	</div>
</div>
<script type="text/javascript" src="<%= locals.themehelper.extensionPublicResourcePath('periodicjs.ext.admin','js') %>wysihtml5-advanced.js"></script>
<script type="text/javascript" src="<%= locals.themehelper.extensionPublicResourcePath('periodicjs.ext.admin','js') %>wysihtml5-0.4.0pre.min.js"></script>
