<% 
	currentpagenum = parseInt(request.query.pagenum);
	// nextlinkquery.pagenum = currentpagenum +1;

	var prevlink = '?'+locals.viewhelper.getQueryString(request.query).replace('pagenum='+currentpagenum,'pagenum='+(parseInt(currentpagenum-1)));	
	var nextlink = '?'+locals.viewhelper.getQueryString(request.query).replace('pagenum='+currentpagenum,'pagenum='+(parseInt(currentpagenum)+1));
%>
<tr>
	<th class="_pea-text-left ">
		Page
		<% if(currentpagenum >1){%>
			<a href="<%= prevlink %>">&laquo;</a> 
		<%}%>

		<% if(editlistingprops){%>
			<input type="text" name="pagenum" class="_pea-text-center autoFormSubmit" style="width:2em;" value="<%- request.query.pagenum %>"/>
		<%}
		else{%>
			<%- request.query.pagenum %>
		<%}%> of <%- categorypages %> 

		<% if(categories && categories.length>0 && categories.length >= request.query.limit){%>
			<a href="<%= nextlink %>">&raquo;</a>
		<%}%>
	</th>
	<th colspan="2" class="_pea-text-right "> 
		<a href="/p-admin/categories">Reset Filters</a>
		<% if(editlistingprops){%>
		 | 
			<span >
				<% var categoriesperpage = [{
					"value":"15",
					"label":"15"
					},{
					"value":"30",
					"label":"30"
					},{
					"value":"50",
					"label":"50"
					}]; %>
				<select name="categoriesperpage"  class="autoFormSubmit">
					<% categoriesperpage.forEach(function(iperpage){
						%>
							<option <% if(request.query.categoriesperpage === iperpage.value ){%> selected="selected"
							<%}%> value="<%= iperpage.value %>"><%= iperpage.label %></option>
						<%
						}); %>
				</select> per page
			</span> | 
			<span><%- categoriescount %> categories</span>
		<%}%>
	</th>
</tr>