<h2>Reviewing Changes for:</h2>
<p><strong>ID:</strong> <%= genericdoc._id %></p> 
<p><strong>Name:</strong> <%= genericdoc.name %></p>
<p><strong>Title:</strong> <%= genericdoc.title %></p>
<hr>
<!-- 
<div class="_pea-document">
	<% if(genericdoc){%>
	<div class="_pea-row _pea-container-forminput no-margin">
		<div class="_pea-col-span2">
			<small>ID:</small>
		</div>
		<input type="text" id="docidlabel" disabled="disabled" class="_pea-col-span10" value="<%= genericdoc._id %>" >				
	</div>
	<div class="_pea-row _pea-container-forminput no-margin">
		<div class="_pea-col-span2">
			<small>Title:</small>
		</div>
		<input type="text" id="docidlabel" disabled="disabled" class="_pea-col-span10" value="<%= genericdoc.title %>" >
	</div>
	<div class="_pea-row _pea-container-forminput no-margin">
		<div class="_pea-col-span2">
			<small>Name:</small>
		</div>
		<input type="text" id="docidlabel" disabled="disabled" class="_pea-col-span10" value="<%= genericdoc.name %>" >
	</div>
	<%}%>
	
</div> -->